// Put any @imports here

//Color Variables
$primary-color: #BEE7FF;
$secondary-color: #3362D4;
$primary-text: #FFFFFF;


body {
  background: $primary-color;
  width: 100%;
  max-height: 100%;
}
a {  
  text-decoration: none;
  color: white;
}
section {
  margin: 0;
  padding: 0;
}
aside {
  margin: 0;
  padding: 0;
}
input {
  display: inline-block;
  margin: 0;
  width: 30%;
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px;
  border: solid 3px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
button {
  border-radius: 4px;
  font-family: sans-serif;
  width: 22%;
  height: 46px;
  cursor: pointer;
  font-size : 18px;
  font-weight: 300;
  padding: 10px;    
}
//---------------------------------------------------
//Site
.siteNav {
  padding: 3%;
  background: $secondary-color;
  border-bottom: 1px solid black;
  a {
    color: white;
    margin-right: 3%;
  } 
}
//---------------------------------------------------
//Home 
.homeWrapper {
  margin: 0 auto;
  width: 90%;
  button {
    background-color: #1704B5;
    color: white;
    border: 2px solid white;
    margin-top: 1%;
  }
   
  .homeBanner {
    background-image: url("../img/fiveBanner.jpg");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 270px;
    margin: 3% auto;
    width: 90%;
    height: 270px;
       h3 {
        display: inline-block;
        color: #1704B5;
        margin-left: 3%;
        margin-top: .5%;
        text-shadow: 1px 1px black;
        font-size: 1.5em;
    }
  }

  .loginFormWrap {
    margin-left: 5%;
    h3 {
        color: #4373B1;
        text-shadow: 1px 1px black;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
  }
  .registerWrapper {
    margin-left: 5%;
    h3 {
        color: #4373B1;
        text-shadow: 1px 1px black;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
  }
} //.homeWrapper

//---------------------------------------------------
//Forms
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
//---------------------------------------------------
//Dashboard
.dashSide {
 margin: 0;
 padding: 1%;
 a {
    color: white;
    margin-right: 3%;
  }
}
.dashMain {
  float: right;
  width: 60%;
}
//---------------------------------------------------
//Dash-Categories
.wordListWrapper {
  width: 80%;
    h3 {
      margin: 0 auto;
      width: 50%;
      color: white;
      font-size: 2.5em;
      text-shadow: 1px 1px 1px black;
    }
    .wordList {
      h3 {
      font-size: 2em;
      margin-left: 10%;
      margin-top: 2%;
      }
    }
}
//---------------------------------------------------
.chalkBoard {
  background-image: url("../img/chalkboard.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 4%;
  width: 78%;
  height: 600px;
}
//---------------------------------------------------
//Golden
.goldenWrapper {
  background-image: url("../img/golden.jpg");
  width: 100%;
  height: 650px;
  margin: 0;
  border: 1px solid black;
  background-size: cover;
    button {
      background-color: #B69F00;
      border: 2px solid #904B15;
      width: 180px;
    }
}
//---------------------------------------------------
.goldPlate {
  background-image: url("../img/goldPlate.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 5%;
  width: 80%;
  height: 500px;
    h3 {
      color: black;
      text-shadow: 2px 2px #893E1B;
    }
    .wordList {
      h3 {
        color: black;
        text-shadow: 1px 1px #893E1B;
      }
    }    
}
//---------------------------------------------------
//Travel
.travelWrapper {
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//---------------------------------------------------
//Tech
.techWrapper {
  background-image: url("../img/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//---------------------------------------------------
//Sport
.sportsWrapper {
  background-image: url("../img/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//---------------------------------------------------
//Foodie
.foodieWrapper {
  background-image: url("../img/foodie.jpg");
  background-color: #F59000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//---------------------------------------------------
//Books
.booksWrapper {
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//---------------------------------------------------
//Music
.musicWrapper {
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//---------------------------------------------------
//Film
.filmWrapper {
  background-image: url("../img/film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//---------------------------------------------------
//Pets
.petsWrapper {
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//---------------------------------------------------
//Cars
.carsWrapper {
  background-image: url("../img/cars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
.wordList {

  h3 { 
 
  color: white;
  margin-left: 5%;
  font-size: 1.4em;
  }
}
.clearBoth {
  clear: both;
}
//---------------------------------------------------
//Match Page
.matchWrapper {
    
  .userMatch {
    display: inline-block;
    margin: 0 5%;

    
      a h3 {
        color: black;
        font-weight: bolder;
        font-size: 1.2em;
        text-transform: uppercase;
        text-decoration: underline;
      }
  }
  .wordMatchWrapper {
    display: inline-block;
    margin-right: 5%;
      h3 {
       
      }

    .wordMatch {
      display: inline-block;
    }
  }
}
//---------------------------------------------------
//Profile Page
.profileSide {
    a {
      margin: 2%;

    }
}
.profileMainWrap {
  img {
    width: 10%;
    margin: 1%;
  }
  h3 {
    margin: 2% 3%;
    color: white;
    font-size: 1.5em;
    font-weight: normal; 
    text-shadow: 1px 1px black;
  }
  button {
    margin: 1%;
  }
}
.profileSide {
  padding: 1%;
  margin: 0;
}
//---------------------------------------------------
//Edit Profile Page
.editProfile {
  img {
    width: 10%;
    margin: 1%;
  }
  input {
    width: 25%;
    margin: 1%;
  }
  button {
    margin: 1%;
  }
}
//---------------------------------------------------
//View Your own Photos Page
.photosWrapper {
  width: 96%;
  margin: 0 auto;
    button {
    margin: 1% 0 3% 0;
  }
  .photoWrapper{
    img {
      max-width: 400px;
      margin: 2%;
      float: left;
    }
  }
}
//Add Photo Page
.addPhotosForm {
  h3 {
    margin: 2%;
  }
  .customFileLabel {
    margin-left: 1%;
    font-size: 1em;
    font-weight: bold;
  }

  .customFileInput::-webkit-file-upload-button {
    visibility: hidden;
  }
  .customFileInput {
    content: 'Select some files';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 2px;
    padding: 12px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 14pt;
    margin: 0 1% 0 2%;
  }
  .customFileBtn {
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 4px;
    padding: 12px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 14pt;
    margin: 0 1% 0 2%;
  }
}
//---------------------------------------------------
//Friends Add Page
.friendAddWrapper {
  background-color: white;
}
//---------------------------------------------------
//Footer
.footer {
  padding: 1.5%;
  color: white;
  margin-bottom: 0;
  z-index: -1;
  clear: both;

}
//---------------------------------------------------
//View Photos Page
.photoWrappers {
  width: 80%;
  .photoWrapper {
    width: 30%;

    img {
      width: 100%;
    }
  }
}
//---------------------------------------------------
//Home Add Class 
.home {
  .siteNav{background-color: #1B237C;}
  .footer {background-color: #1B237C;}
}
//---------------------------------------------------
//Golden Add Class 
.golden {
  background-image: url("../img/golden.jpg");
  width: 100%;
  height: 650px;
  margin: 0;
  border: 1px solid black;
  background-size: cover;
    button {
      background-color: #B69F00;
      border: 2px solid #904B15;
      width: 180px;
    }
   
  .siteNav {
    background-color: #935302;
      a {
        color: black;
        font-weight: bold;
        font-family: 'Metal Mania', cursive;
        font-size: 1.7em;
        
      }
  }
  .dashSide{
    background-color: #DFE400;
    a {
        color: black;
        font-weight: bold;

      }
  }
  .footer {background-color: #935302;}
   .matchWrapper {
    background-color: rgba(223, 203, 0, .5);  
  }
}
//---------------------------------------------------
//Travel Add Class 
.travel {
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  background-color: #854E24;
  .siteNav{
    background-color: #875C2B;
    a {
        color: white;
        font-weight: bold;
        font-family: 'Roboto Mono', Mono;
        font-size: 1.5em;  
      }
  }
  .dashSide{
    background-color: #F3A130;
    a {
      color: #452102;
    }
  }
  .footer {background-color: #854E24;}
  .matchWrapper {
    background-color: rgba(253, 190, 72, .5);  
  }
}
//---------------------------------------------------
//Tech Add Class 
.tech {
  background-color: #062549;
  background-image: url("../img/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #062549;

    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #6CAFF2;
    a {
      color: #06244C;
    }
  }
  .footer {background-color: #062549;}
  .matchWrapper {
    background-color: rgba(188,219,232, 0.5);  
  }

}
//---------------------------------------------------
//Sports Add Class 
.sports {
  background-color: #36651B;
  background-image: url("../img/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
  .siteNav{background-color: #36651B;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #588B25;
    a {
      color: #092B06;
    }
  }
  .footer {background-color: #36651B;}
  .matchWrapper {
    background-color: rgba(114, 169, 73, .5);  
  }
}
//---------------------------------------------------
//Foodie Add Class 
.foodie {
  background-color: #F59000;
  background-image: url("../img/foodie.jpg");
  background-color: #F59000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
  .siteNav{background-color: #F59000;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #F7B700;
     a {
      color: #FC6700;
    }
  }
  .footer {background-color: #F59000;}
  .matchWrapper {
    background-color: rgba(246, 185, 0, .5);  
  }
}
//---------------------------------------------------
//Books Add Class 
.books {
  background-color: #A94C00;
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #A94C00;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #CD760B;
    a {
      color: #5B1913;
    }
  }
  .footer {background-color: #A94C00;}
  .matchWrapper {
    background-color: rgba(204, 119, 0, .5);  
  }
}
//---------------------------------------------------
//Music Add Class 
.music {
  background-color: #D6BA59;
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #3C2512;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #D5C46C;
    a {
      color: #67420E;
    }
  }
  .footer {background-color: #3C2512;}
  .matchWrapper {
    background-color: rgba(248, 237, 187, .5);  
  }
}
//---------------------------------------------------
//Film Add Class 
.film {
  background-color: #6E0301;
  background-image: url("../img/film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #6E0301;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #FD6762;
    a {
      color: #480300;
    }
  }
  .footer {background-color: #6E0301;}
  .matchWrapper {
    background-color: rgba(255, 255, 255, .5);  
  }
}

//---------------------------------------------------
//Pets Add Class 
.pets {
  background-color: #D5C46C;
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #A5563F;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #D6BA59;
    a {
      color: #A5563F;
    }
  }
  .footer {background-color: #A5563F;}
  .matchWrapper {
    background-color: rgba(255, 250, 161, .5);  
  }
}

//---------------------------------------------------
//Cars Add Class 
.cars {
  background-color: #6E5500;
  background-image: url("../img/cars.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
  .siteNav{background-color: #6E5500;
    a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .dashSide{
    background-color: #EBD29A;
     a {
      color: #452102;
    }
  }
  .footer {background-color: #6E5500;}
  .matchWrapper {
    background-color: rgba(255, 255, 255, .5);  
  }
}
//---------------------------------------------------
//Profile Add Class 
.profile {
  background-color: #1B237C;
  .siteNav{background-color: #1B237C;
      a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .profileSide{background-color: #7785F6;}
  .footer {background-color: #1B237C;}
}
//---------------------------------------------------
//Photos Add Class 
.photos {
  background-color: #199300;
  .siteNav{background-color: #199300;
      a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .profileSide{
    background-color: #80F56C;
    a {
      color: #023C1B;
    }
  }
  .footer {background-color: #199300;}
}
//--------------------------------------------------
//Photos Add Page Add Class 
.photosAdd {
  background-color: #EE9D00;
  .siteNav{background-color: #EE9D00;
      a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .profileSide{background-color: #E9D900;}
  .footer {background-color: #EE9D00;}
}
//---------------------------------------------------
//Profile 
.friends {
  background-color: #B2308E;
  .siteNav{background-color: #B2308E;
      a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .profileSide{
    background-color: #F9E3E6;
      a {
      color: #E32B51;
    }
  }
  .footer {background-color: #B2308E;}
}
//---------------------------------------------------
//Friends Add Page
.friendAddWrapper {
  .siteNav{background-color: #B2308E;
      a {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Mono', Mono;
          font-size: 1.5em;
          
        }
  }
  .profileSide{
    background-color: #F9E3E6;
      a {
      color: #E32B51;
    }
  }
  .footer {background-color: #B2308E;}
}
//---------------------------------------------------


//@media responsive design
@media (max-width: 800px) {
  .chalkBoard {
    width: 90%;
  }

  .goldPlate {
  background-size: 100%;
  width: 90%;
    h3 {
    }
    .wordList {
      
      h3 {
         font-size: 1.5em;
      }
    }  
  } 
}

//HOME PAGE
@media (max-width: 550px) {
  //Home
  .homeWrapper {
    input {
      width: 80%;
      margin: 0 auto;
    }
    .homeBanner {
    background-image: url("../img/wordsLogo.jpg");
    background-repeat: no-repeat;
    border: 3px solid #4EABF8;
    border-radius: 3px;
    background-size: 100% 200px;
    margin: 4% auto;

    height: 200px;
      h3 {
        color: #4EABF8;
        text-shadow: 1px 1px black;
      }
    }
  }

}
  //DASHBOARD PAGE
@media (max-width: 550px) {

   .goldenWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
 
  .travelWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
  .techWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
  .sportsWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
  .foodieWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
   .booksWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
   .musicWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
   .filmWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
   .petsWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
   .carsWrapper {
     button {
      width: 30%;
      margin: 1%;
    }
  }
  //GOLDEN WORDS
  .goldPlate.wordListWrapper {
  background-image: url("../img/scroll.gif");
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;
  width: 100%;
    h3 {
      position: relative;
      top: 6%;
      color: black;  
    }
  
    .wordList {
      margin: 0;
      padding: 0;
      position: relative;
      top: 10%;
      left: 5%;
      h3 {
        margin-top: 5%;
        color: black;
        position: relative;
        left: 5%;
      }
    }  
  }
  //ALL OTHER CATEGORIES
  .chalkBoard {
  background-image: url("../img/notepad.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 5%;
  width: 96%;
  height: 600px;

    button {
    float: right;
    margin-right: 5%;
    width: 20%;

    }
  
   h3 {
      color: black;
      padding: 3%;
      position: relative;
      left: 10%;
      top: 1%;
    }
  }

  .wordList {  
    h3 { 
    position: relative;
    left: 15%;
    color: black;
    margin-top: 5%;
    font-size: 1.5em;
    }    
  }
}
 
