// Put any @imports here

//Color Variables
$primary-color: #BEE7FF;
$secondary-color: #3362D4;
$primary-text: #FFFFFF;


body {
  background: $primary-color;
  max-height: 100%;
}
input {

}
a {
  
  text-decoration: none;
  color: white;
}
section {
  margin: 0;
  padding: 0;
}
aside {
  margin: 0;
  padding: 0;
}

//Site
.siteButton {

}
.siteInput {

}
.siteNav {
  padding: 3%;
  background: $secondary-color;
  border-bottom: 1px solid black;
  a {
    color: white;
    margin-right: 3%;
  } 
}

//Forms
.ng-invalid.ng-dirty {
  border-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
}
//Home
.loginFormWrap {  
}

//Dashboard
.dashSide {
 margin: 0;
 padding: 1%;
 a {
    color: white;
    margin-right: 3%;
  }
}
.dashMain {
  float: right;
  width: 60%;
}
//Dash-Categories
.wordListWrapper {
  width: 80%;
    h3 {
      margin: 0 auto;
      width: 50%;
      color: white;
      font-size: 2em;
      text-shadow: 1px 1px 1px black;
    }
}
.chalkBoard {
  background-image: url("../img/chalkboard.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 4%;
  width: 78%;
  height: 600px;
}
//Golden
.goldenWrapper {
  background-image: url("../img/golden.jpg");
  width: 100%;
  height: 650px;
  margin: 0;
  border: 1px solid black;
  background-size: cover;
}
.goldPlate {
  background-image: url("../img/goldPlate.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 70%;
  height: 470px;
}
//Travel
.travelWrapper {
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//Tech
.techWrapper {
  background-image: url("../img/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//Sport
.sportsWrapper {
  background-image: url("../img/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//Foodie
.foodieWrapper {
  background-image: url("../img/foodie.jpg");
  background-color: #F59000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;  
}
//Books
.booksWrapper {
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//Music
.musicWrapper {
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//Film
.filmWrapper {
  background-image: url("../img/film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; 
}
//Pets
.petsWrapper {
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black;

  
}
//Cars
.carsWrapper {
  background-image: url("../img/cars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  border: 1px solid black;
   
}

.wordList {

  h3 { 
 
  color: white;
  margin-left: 5%;
  font-size: 1.4em;
  }
}
.clearBoth {
  clear: both;
}

//Profile
.profileSide {
  padding: 1%;
  margin: 0;
}
//Footer
.footer {
  padding: 1.5%;
  color: white;
  margin-bottom: 0;
  z-index: -1;

}
//Home Add Class 
.home {
  .siteNav{background-color: #1B237C;}
  .footer {background-color: #1B237C;}
}
//Golden Add Class 
.golden {
    body {
    background-color: red;
    }
  .siteNav {
    background-color: #935302;
      a {
        color: black;
        font-weight: bold;
        font-family: 'Metal Mania', cursive;
        font-size: 1.7em;
        
      }
  }
  .dashSide{
    background-color: #DFE400;
    a {
        color: black;
        font-weight: bold;

      }
  }
  .footer {background-color: #E48F03;}
}
//Travel Add Class 
.travel {
  background-color: #854E24;
  .siteNav{background-color: #854E24;}
  .dashSide{background-color: #F3A130;}
  .footer {background-color: #854E24;}
}
//Tech Add Class 
.tech {
  background-color: #062549;
  .siteNav{background-color: #062549;}
  .dashSide{background-color: #124279;}
  .footer {background-color: #062549;}
}
//Sports Add Class 
.sports {
  background-color: #36651B;
  .siteNav{background-color: #36651B;}
  .dashSide{background-color: #588B25;}
  .footer {background-color: #36651B;}
}
//Foodie Add Class 
.foodie {
  background-color: #F59000;
  .siteNav{background-color: #F59000;}
  .dashSide{background-color: #F7B700;}
  .footer {background-color: #F59000;}
}
//Books Add Class 
.books {
  background-color: #A94C00;
  .siteNav{background-color: #A94C00;}
  .dashSide{background-color: #CD760B;}
  .footer {background-color: #A94C00;}
}
//Music Add Class 
.music {
  background-color: #D6BA59;
  .siteNav{background-color: #D6BA59;}
  .dashSide{background-color: #D5C46C;}
  .footer {background-color: #D6BA59;}
}
//Film Add Class 
.film {
  background-color: #6E0301;
  .siteNav{background-color: #6E0301;}
  .dashSide{background-color: #C91E16;}
  .footer {background-color: #6E0301;}
}
//Pets Add Class 
.pets {
  background-color: #D5C46C;
  .siteNav{background-color: #D5C46C;}
  .dashSide{background-color: #D6BA59;}
  .footer {background-color: #D5C46C;}
}
//Cars Add Class 
.cars {
  background-color: #6E5500;
  .siteNav{background-color: #6E5500;}
  .dashSide{background-color: #EBD29A;}
  .footer {background-color: #6E5500;}
}
//Profile Add Class 
.profile {
  background-color: #1B237C;
  .siteNav{background-color: #1B237C;}
  .profileSide{background-color: #7785F6;}
  .footer {background-color: #1B237C;}
}
//Photos Add Class 
.photos {
  background-color: #199300;
  .siteNav{background-color: #199300;}
  .profileSide{background-color: #80F56C;}
  .footer {background-color: #199300;}
}
//Photos Add Page Add Class 
.photosAdd {
  background-color: #EE9D00;
  .siteNav{background-color: #EE9D00;}
  .profileSide{background-color: #E9D900;}
  .footer {background-color: #EE9D00;}
}
//Profile Add Class 
.friends {
  background-color: #B2308E;
  .siteNav{background-color: #B2308E;}
  .profileSide{background-color: #F9E3E6;}
  .footer {background-color: #B2308E;}
}
@media (max-width: 800px) {
  .chalkBoard {
  width: 90%;
}
  }

@media (max-width: 500px) {
  .chalkBoard {
  background-image: url("../img/notepad.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 96%;
  height: 600px;

    button {
    float: right;
    margin-right: 5%;
    width: 20%;

    }
  
   h3 {
    
      color: black;
      padding: 3%;
    }
  }

  .wordList {  
    h3 { 

    color: black;
    margin-top: 5%;
    margin-left: 20%;
    font-size: 1.5em;
    }    
  }
}
 
