body {
  background: #BEE7FF; }

a {
  text-decoration: none; }

.siteNav {
  padding: 3%;
  background: #3362D4; }
  .siteNav a {
    color: white; }

.ng-invalid.ng-dirty {
  border-color: red; }

.ng-valid.ng-dirty {
  border-color: green; }

.dashSide {
  margin: 0;
  padding: 1%; }

.dashMain {
  float: right;
  width: 60%; }

.wordListWrapper {
  width: 80%; }

.chalkBoard {
  background-image: url("../img/chalkboard.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 60%;
  height: 500px;
  border: 5px solid #370800; }

.goldenWrapper {
  background-image: url("../img/golden.jpg");
  width: 100%;
  height: 650px; }

.goldPlate {
  background-image: url("../img/goldPlate.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 70%;
  height: 470px;
  border: 5px solid #370800; }

.travelWrapper {
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.techWrapper {
  background-image: url("../img/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.sportsWrapper {
  background-image: url("../img/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.foodieWrapper {
  background-image: url("../img/foodie.jpg");
  background-color: #F59000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.booksWrapper {
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.musicWrapper {
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.filmWrapper {
  background-image: url("../img/film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.petsWrapper {
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px; }

.carsWrapper {
  background-image: url("../img/cars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px; }

.wordList {
  color: white; }

.clearBoth {
  clear: both; }

.footer {
  padding: 1.5%;
  background: #3362D4;
  margin-bottom: 0; }

.golden .siteNav {
  background-color: #935302; }

.golden .dashSide {
  background-color: #DFE400; }

.golden .footer {
  background-color: #E48F03; }

.travel .siteNav {
  background-color: #854E24; }

.travel .dashSide {
  background-color: #F3A130; }

.travel .footer {
  background-color: #854E24; }

.tech .siteNav {
  background-color: #062549; }

.tech .dashSide {
  background-color: #124279; }

.tech .footer {
  background-color: #062549; }

.sports .siteNav {
  background-color: #36651B; }

.sports .dashSide {
  background-color: #588B25; }

.sports .footer {
  background-color: #36651B; }

.foodie .siteNav {
  background-color: #F59000; }

.foodie .dashSide {
  background-color: #F79000; }

.foodie .footer {
  background-color: #CA3200; }

.books .siteNav {
  background-color: #A94C00; }

.books .dashSide {
  background-color: #CD760B; }

.books .footer {
  background-color: #A94C00; }

.music .siteNav {
  background-color: #D6BA59; }

.music .dashSide {
  background-color: #D5C46C; }

.music .footer {
  background-color: #D6BA59; }

.film .siteNav {
  background-color: #6E0301; }

.film .dashSide {
  background-color: #C91E16; }

.film .footer {
  background-color: #6E0301; }

.pets .siteNav {
  background-color: #D5C46C; }

.pets .dashSide {
  background-color: #D6BA59; }

.pets .footer {
  background-color: #D5C46C; }

.cars .siteNav {
  background-color: #6E5500; }

.cars .dashSide {
  background-color: #EBD29A; }

.cars .footer {
  background-color: #6E5500; }

/*# sourceMappingURL=main.css.map */
