body {
  background: #BEE7FF;
  width: 100%;
  max-height: 100%; }

a {
  text-decoration: none;
  color: white; }

section {
  margin: 0;
  padding: 0; }

aside {
  margin: 0;
  padding: 0; }

input {
  display: inline-block;
  margin: 0;
  width: 30%;
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px;
  border: solid 3px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s; }

button {
  border-radius: 4px;
  font-family: sans-serif;
  width: 22%;
  height: 46px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  padding: 10px; }

.homeWrapper {
  margin: 0 auto;
  width: 90%; }
  .homeWrapper button {
    background-color: #1704B5;
    color: white;
    border: 2px solid white;
    margin-top: 1%; }
  .homeWrapper .homeBanner {
    background-image: url("../img/fiveBanner.jpg");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 270px;
    margin: 3% auto;
    width: 90%;
    height: 270px; }
    .homeWrapper .homeBanner h3 {
      display: inline-block;
      color: #1704B5;
      margin-left: 3%;
      margin-top: .5%;
      text-shadow: 1px 1px black;
      font-size: 1.5em; }
  .homeWrapper .loginFormWrap {
    margin-left: 5%; }
    .homeWrapper .loginFormWrap h3 {
      color: #4373B1;
      text-shadow: 1px 1px black;
      font-size: 1.5em;
      letter-spacing: 3px; }
  .homeWrapper .registerWrapper {
    margin-left: 5%; }
    .homeWrapper .registerWrapper h3 {
      color: #4373B1;
      text-shadow: 1px 1px black;
      font-size: 1.5em;
      letter-spacing: 3px; }

.siteNav {
  padding: 3%;
  background: #3362D4;
  border-bottom: 1px solid black; }
  .siteNav a {
    color: white;
    margin-right: 3%; }

.ng-invalid.ng-dirty {
  border-color: red; }

.ng-valid.ng-dirty {
  border-color: green; }

.dashSide {
  margin: 0;
  padding: 1%; }
  .dashSide a {
    color: white;
    margin-right: 3%; }

.dashMain {
  float: right;
  width: 60%; }

.wordListWrapper {
  width: 80%; }
  .wordListWrapper h3 {
    margin: 0 auto;
    width: 50%;
    color: white;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black; }
  .wordListWrapper .wordList h3 {
    font-size: 1.5em;
    margin-left: 7%;
    margin-top: 3%; }

.chalkBoard {
  background-image: url("../img/chalkboard.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 4%;
  width: 78%;
  height: 600px; }

.goldenWrapper {
  background-image: url("../img/golden.jpg");
  width: 100%;
  height: 650px;
  margin: 0;
  border: 1px solid black;
  background-size: cover; }
  .goldenWrapper button {
    background-color: #B69F00;
    border: 2px solid #904B15;
    width: 180px; }

.goldPlate {
  background-image: url("../img/goldPlate.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  top: 5%;
  width: 80%;
  height: 500px; }
  .goldPlate h3 {
    color: black;
    text-shadow: 2px 2px #893E1B; }
  .goldPlate .wordList h3 {
    color: black;
    text-shadow: 1px 1px #893E1B; }

.travelWrapper {
  background-image: url("../img/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.techWrapper {
  background-image: url("../img/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.sportsWrapper {
  background-image: url("../img/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.foodieWrapper {
  background-image: url("../img/foodie.jpg");
  background-color: #F59000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.booksWrapper {
  background-image: url("../img/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.musicWrapper {
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.filmWrapper {
  background-image: url("../img/film.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.petsWrapper {
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.carsWrapper {
  background-image: url("../img/cars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  border: 1px solid black; }

.wordList h3 {
  color: white;
  margin-left: 5%;
  font-size: 1.4em; }

.clearBoth {
  clear: both; }

.userMatch {
  display: inline-block;
  margin-right: 5%; }

.wordMatchWrapper {
  display: inline-block;
  margin-right: 5%; }
  .wordMatchWrapper .wordMatch {
    display: inline-block; }

.profileMainWrap img {
  width: 10%;
  margin: 1%; }

.profileMainWrap h3 {
  margin: 2% 3%;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  text-shadow: 1px 1px black; }

.profileMainWrap button {
  margin: 1%; }

.profileSide {
  padding: 1%;
  margin: 0; }

.editProfile img {
  width: 10%;
  margin: 1%; }

.editProfile input {
  width: 25%;
  margin: 1%; }

.editProfile button {
  margin: 1%; }

.footer {
  padding: 1.5%;
  color: white;
  margin-bottom: 0;
  z-index: -1; }

.photoWrappers {
  width: 80%; }
  .photoWrappers .photoWrapper {
    width: 30%; }
    .photoWrappers .photoWrapper img {
      width: 100%; }

.home .siteNav {
  background-color: #1B237C; }

.home .footer {
  background-color: #1B237C; }

.golden body {
  background-color: red; }

.golden .siteNav {
  background-color: #935302; }
  .golden .siteNav a {
    color: black;
    font-weight: bold;
    font-family: 'Metal Mania', cursive;
    font-size: 1.7em; }

.golden .dashSide {
  background-color: #DFE400; }
  .golden .dashSide a {
    color: black;
    font-weight: bold; }

.golden .footer {
  background-color: #E48F03; }

.travel {
  background-color: #854E24; }
  .travel .siteNav {
    background-color: #854E24; }
  .travel .dashSide {
    background-color: #F3A130; }
  .travel .footer {
    background-color: #854E24; }

.tech {
  background-color: #062549; }
  .tech .siteNav {
    background-color: #062549; }
  .tech .dashSide {
    background-color: #124279; }
  .tech .footer {
    background-color: #062549; }

.sports {
  background-color: #36651B; }
  .sports .siteNav {
    background-color: #36651B; }
  .sports .dashSide {
    background-color: #588B25; }
  .sports .footer {
    background-color: #36651B; }

.foodie {
  background-color: #F59000; }
  .foodie .siteNav {
    background-color: #F59000; }
  .foodie .dashSide {
    background-color: #F7B700; }
  .foodie .footer {
    background-color: #F59000; }

.books {
  background-color: #A94C00; }
  .books .siteNav {
    background-color: #A94C00; }
  .books .dashSide {
    background-color: #CD760B; }
  .books .footer {
    background-color: #A94C00; }

.music {
  background-color: #D6BA59; }
  .music .siteNav {
    background-color: #D6BA59; }
  .music .dashSide {
    background-color: #D5C46C; }
  .music .footer {
    background-color: #D6BA59; }

.film {
  background-color: #6E0301; }
  .film .siteNav {
    background-color: #6E0301; }
  .film .dashSide {
    background-color: #C91E16; }
  .film .footer {
    background-color: #6E0301; }

.pets {
  background-color: #D5C46C; }
  .pets .siteNav {
    background-color: #D5C46C; }
  .pets .dashSide {
    background-color: #D6BA59; }
  .pets .footer {
    background-color: #D5C46C; }

.cars {
  background-color: #6E5500; }
  .cars .siteNav {
    background-color: #6E5500; }
  .cars .dashSide {
    background-color: #EBD29A; }
  .cars .footer {
    background-color: #6E5500; }

.profile {
  background-color: #1B237C; }
  .profile .siteNav {
    background-color: #1B237C; }
  .profile .profileSide {
    background-color: #7785F6; }
  .profile .footer {
    background-color: #1B237C; }

.photos {
  background-color: #199300; }
  .photos .siteNav {
    background-color: #199300; }
  .photos .profileSide {
    background-color: #80F56C; }
  .photos .footer {
    background-color: #199300; }

.photosAdd {
  background-color: #EE9D00; }
  .photosAdd .siteNav {
    background-color: #EE9D00; }
  .photosAdd .profileSide {
    background-color: #E9D900; }
  .photosAdd .footer {
    background-color: #EE9D00; }

.friends {
  background-color: #B2308E; }
  .friends .siteNav {
    background-color: #B2308E; }
  .friends .profileSide {
    background-color: #F9E3E6; }
  .friends .footer {
    background-color: #B2308E; }

@media (max-width: 800px) {
  .chalkBoard {
    width: 90%; }
  .goldPlate {
    background-size: 100%;
    width: 90%; } }

@media (max-width: 550px) {
  .goldenWrapper button {
    width: 30%; }
  .goldPlate.wordListWrapper {
    background-image: url("../img/scroll.gif");
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .goldPlate.wordListWrapper h3 {
      position: relative;
      top: 6%;
      color: black; }
    .goldPlate.wordListWrapper .wordList {
      margin: 0;
      padding: 0;
      position: relative;
      top: 10%;
      left: 5%; }
      .goldPlate.wordListWrapper .wordList h3 {
        margin-top: 5%;
        color: black;
        position: relative;
        left: 5%; } }

@media (max-width: 550px) {
  .homeWrapper input {
    width: 80%;
    margin: 0 auto; }
  .homeWrapper .homeBanner {
    background-image: url("../img/wordsLogo.jpg");
    background-repeat: no-repeat;
    border: 3px solid #4EABF8;
    border-radius: 3px;
    background-size: 100% 200px;
    margin: 4% auto;
    height: 200px; }
    .homeWrapper .homeBanner h3 {
      color: #4EABF8;
      text-shadow: 1px 1px black; } }

@media (max-width: 500px) {
  .chalkBoard {
    background-image: url("../img/notepad.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    top: 5%;
    width: 96%;
    height: 600px; }
    .chalkBoard button {
      float: right;
      margin-right: 5%;
      width: 20%; }
    .chalkBoard h3 {
      color: black;
      padding: 3%;
      position: relative;
      left: 10%;
      top: 1%; }
  .wordList h3 {
    position: relative;
    left: 15%;
    color: black;
    margin-top: 5%;
    font-size: 1.5em; } }

/*# sourceMappingURL=main.css.map */
