<div class="homeWrapper">
  <div class="homeBanner">
    <h3>Five Words</h3>
  </div>
  <h3 class="slogan">Matching People by Words!</h3>
  <div class="loginFormWrap">
    <h3>Login</h3>
    <form name="loginForm" ng-submit="loginForm.$valid && vm.login(user1)" novalidate>
      <input type="text" placeholder="User Name" ng-model="user1.username" required >
      <input type="text" placeholder="Password" ng-model="user1.password" required>
      <br>
      <button>Login</button>
    </form>
  <!--   <div>Login Form is: {{loginForm.$valid}}</div> -->
  </div>
  <br>
  <br>

  <div class="registerWrapper">
    <h3>Register</h3>
    <form name="registerForm" ng-submit="registerForm.$valid && vm.register(user)" novalidate>
      <input type="email" placeholder="Email" ng-model="user.email" required>
      <input type="text" placeholder="User Name" ng-model="user.username" required>
      <input type="text" placeholder="Password" ng-model="user.password" required>
      <br>
      <button>Register</button>
       <!-- <div>Register Form is: {{registerForm.$valid}}</div> -->
    </form>
  </div>
  <br>
  <br>
</div>