<h3>Home</h3>

<div>
  <h3>Login</h3>
  <form ng-submit="vm.login(user1)">
    <input type="text" placeholder="User Name" ng-model="user1.username">
    <input type="text" placeholder="Password" ng-model="user1.password">
    <button>Login</button>
  </form>
</div>

<div>
  <h3>Register</h3>
  <form ng-submit="vm.register(user)">
    <input type="text" placeholder="Email" ng-model="user.email">
    <input type="text" placeholder="User Name" ng-model="user.username">
    <input type="text" placeholder="Password" ng-model="user.password">
    <button>Register</button>
  </form>
</div>