<div>
  <h3>5 Words</h3>
  <form ng-submit="vm.addWords(words, category)">
    <input type="text" placeholder="Word 1" ng-model="words.one">
    <input type="text" placeholder="Word 2" ng-model="words.two">
    <input type="text" placeholder="Word 3" ng-model="words.three">
    <input type="text" placeholder="Word 4" ng-model="words.four">
    <input type="text" placeholder="Word 5" ng-model="words.five">
    <input type="text" placeholder="Category" ng-model="category.golden">


    <button>Submit</button>
  </form>
</div>