<div>
  <h3>Tech</h3>
   <div ng-repeat="word in vm.words">
  <h4 class="wordList">{{word.word}}</h4>
  </div>
  
  <form>
    <input type="text" placeholder="Word 1" ng-model="words.one">
    <input type="text" placeholder="Word 2" ng-model="words.two">
    <input type="text" placeholder="Word 3" ng-model="words.three">
    <input type="text" placeholder="Word 4" ng-model="words.four">
    <input type="text" placeholder="Word 5" ng-model="words.five">
    <button ng-click="vm.addWords(words, 'tech')">Add</button>
    <button ng-click="vm.editWords(words)">Edit</button>
</div>